body{
    font-family: Arial;
    background: #f0f9ff;
    text-align: center;
}

h1{
    color: #0077b6;
}

.container{
    background: blue;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 300px;
}

input{
    width: 80%;
    padding: 8px;
    margin: 10px;
}

button{
    padding: 10px;
    background: #0077b6;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #023e8a;
}
